
:root {
	--color-h: 270;
	--color-s: 20%;
	--color-l: 70%;

	--color-raw-hsl: var(--color-h) var(--color-s) var(--color-l);
	--background-color: hsl(var(--color-raw-hsl));
	--color: black;

	--lighter-color-raw-hsl: var(--color-h) var(--color-s) calc(var(--color-l) + 20%);
	--lighter-background-color: hsl(var(--lighter-color-raw-hsl));
	--lighter-color: black;

	--darker-color-raw-hsl: var(--color-h) var(--color-s) calc(var(--color-l) - 30%);
	--darker-background-color: hsl(var(--darker-color-raw-hsl));
	--darker-color: white;

}

html {
	height: 100%;
}

body {
	font-family: sans-serif;

	height: 100%;

	background-color: red;
	color: red;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-areas: "nav nav" "main aside";
	grid-template-columns: 1fr min-content;
	grid-template-rows: min-content 1fr;
}

button {
	border: none;
	cursor: pointer;

	border: 1px solid transparent;
	padding-block: 0.5em;

	background-color: var(--darker-background-color);
	color: var(--darker-color);
}

button[disabled] {
	background-color: transparent;
	color: darkgray;
}

button:when(:not([disabled]):hover) {
	background-color: var(--background-color);
	border-color: var(--darker-background-color);
}

nav {
	grid-area: nav;
	background-color: var(--lighter-background-color);
	color: var(--lighter-color);
	list-style: none;
	display: flex;
	gap: 0;
}

nav > li {
	font-weight: bolder;
}

nav > li:first-child {
	padding-inline-start: 1em;
}

nav > li > a {
	display: block;
	color: inherit;
	/* text-decoration: none; */
	padding-block: 1em;
	padding-inline: 0.5em;
}

nav > li:not(:has(> a)) {
	padding-block: 1em;
	padding-inline: 0.5em;
}

nav > li > a:hover {
	background-color: var(--background-color);
}

section {
	grid-area: main;
	display: flex;
	flex-direction: column;
	gap: 1em;

	padding-inline: 1em;
	padding-block-start: 2em;

	background-color: var(--background-color);
	color: var(--color);
}

section:not([data-active]) {
	display: none;
}

main {
	grid-area: main;
	display: none;
	padding-inline: 1em;
	padding-block-start: 2em;

	background-color: var(--background-color);
	color: var(--color);
}

main[data-active] {
	display: block;
}

main >span {
	color: var(--color);
}

ttt-board {
	--border-color: var(--lighter-background-color);
	--border: 2px solid var(--border-color);
}

ttt-board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

ttt-board:not([state="active"]) {
	pointer-events: none;
	--border-color: var(--darker-background-color);
}

ttt-board[state="active"] {
	background-color: initial;
}

ttt-cell {
	color: inherit;
	display: block;
}

/* first colum */
ttt-cell:nth-child(3n + 1) {
	border-inline-end: var(--border);
}

/* first row */
ttt-cell:not(:nth-child(n + 4)) {
	border-block-end: var(--border);
}

/* last column */
ttt-cell:nth-child(3n + 3) {
	border-inline-start: var(--border);
}

/* last row */
ttt-cell:nth-child(n + 7) {
	border-block-start: var(--border);
}

ttt-cell[player] {
	--content: "?";
}

ttt-cell[player]:before {
	display: flex;
	justify-content: center;
	content: var(--content);

	filter: hue-rotate(270deg);
}

ttt-cell[player="me"] {
	--content: "❌";
}

ttt-cell[player]:not([player=""]):not([player="me"]) {
	--content: "⭕️";
}


ttt-cell[player] > button {
	display: none;
}


ttt-cell > button {
	color: inherit;
	display: block;
	min-height: 2em;
	width: 100%;
	background-color: transparent;
	color: var(--color);
	border: none;

	cursor: pointer;
}

ttt-cell > button:hover {
	background-color: var(--lighter-background-color);
	color: var(--lighter-color);
}

ttt-cell > button:active {
	background-color: white;
}

aside {
	grid-area: aside;
	background-color: var(--darker-background-color);
	color: var(--darker-color);
	/* max-width: 400px;
	min-width: 200px; */
	padding-inline: 0.5em;
	padding-block-start: 1em;
}

aside > span {
	font-size: 1.5em;
}

table[data-games-table] {
	display: block;
	color: inherit;
	background-color: hsl(var(--lighter-color-raw-hsl)  / 0.25);
	border-radius: 1em;
}

table[data-games-table] > tbody {
	display: block;
	margin-block-start: 1em;
}

table[data-games-table] tr {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1em;

	/* border-block-start: 1px solid black; */
}

table[data-games-table] td {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	padding-block: 1em;
}

table[data-games-table] td > button {
	/* display: inline; */
	margin-inline: 0.25em;
}

button[data-minor] {
	font-size: 1em;
	font-weight: bolder;
	background-color: var(--darker-background-color);
	color: var(--darker-color);
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	/* place-content: center; */
	justify-content: center;
	max-width: 2em;
	padding: 0;
}

